`cookie.parse` RFC 6265 compliance

The `cookie.parse` function doesn't seem to be compliant with RFC 6265: it states that the cookies in the cookie header should be separated by a `;` <https://www.rfc-editor.org/rfc/rfc6265#section-4.2.1>, while the implementation allows to use both a `;` and `,` to separate cookies.
Is this intentional?

It appears that, on RFC 2965, section 3.3.3 (https://www.rfc-editor.org/rfc/rfc2965#section-3.3), both were allowed, it was deprecated by RFC 6265 on 2011.

Yup! The implementation is permissive to work with older software.

I'll add a comment to explain this, as it's not clear